{{$v := "\u2502"}}{{ $v }}{{range $i, $f := .FlowMetrics}}{{if $i}}{{ $v }}{{end}} {{ $f.Name }} {{ $v }} {{ counterPrintf "%9.1d" $f.BytesTx }} {{ $v }} {{ counterPrintf "%9.1d" $f.BytesRx }} {{end}}{{ $v }}
