{{$v := "\u2502"}}{{ $v }}{{range $i, $p := .PortMetrics}}{{if $i}}{{ $v }}{{end}} {{ $p.Name }} {{ $v }} {{ rateToBps "Mbps" $p.BytesTxRate | ratePrintf "%9.2f" }} {{ $v }} {{ rateToBps "Mbps" $p.BytesRxRate | ratePrintf "%9.2f" }} {{end}}{{ $v }}
