{{$v := "\u2502"}}{{ $v }}{{range $i, $p := .PortMetrics}}{{if $i}}{{ $v }}{{end}} {{ $p.Name }} {{ $v }} {{ counterPrintf "%9.1d" $p.FramesTx }} {{ $v }} {{ counterPrintf "%9.1d" $p.FramesRx }} {{end}}{{ $v }}
